# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
bower_components/
js/vendor/angular.min.js
js/vendor/angular-resource.min.js
out
gen
